/* ==========================================================================
   Custom
   ========================================================================== */

.container {
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
}

.my_list {
    display: inline-block;
    text-align: center;
}

.cart_div {
    margin: auto;
    width: 33%;
    color: #ffffff;
    background-color: #2b2f38;
}